<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUTTI I QUADRI</title>
<style>
.dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body>

<!--GESTISCE "QUADRI" IN BASE SE IL RISULTATO == 1 OPPURE >= 1-->
{% if quadri|length == 1 %}
TITOLO: <a href="{{ url_for('quadro', id=quadri[0].id) }}">{{quadri[0].Quadro}}</a> AUTORE: {{quadri[0].Autore}} ANNO: {{quadri[0].Anno}} LINK: {{quadri[0].Link}}
{% else %}
    {% for qu in quadri %}
    <ul>
        <li>
            TITOLO: <a href="{{ url_for('quadro', id=qu.id) }}">{{qu.Quadro}}</a>   AUTORE: {{qu.Autore}}   ANNO: {{qu.Anno}} LINK: {{qu.Link}}
         </li>
    </ul>
    {% endfor %}
{% endif %}

<!--PULSANTE MENU A DISCESA-->
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
      <a href="/quadro/all">Tutti</a>
      {% for au in autori %}
        <a href="{{url_for('show_all', autore=au.Autore)}}">{{au.Autore}}</a>
      {% endfor %}
  </div>
</div>


</body>
</html>
