<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Contatti | Museo della Mia Città</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stile.css') }}">
</head>
<header id="main-header">
    <nav id="navbar">
        <ul>
         <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/quadro/all">Mostre</a></li>
                <li><a class="nav-link" href="/quadro/all">Informazioni</a></li>
                <li><a class="nav-link" href="/contatti">Contatti</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <h2>Contatti</h2>
        <p>Per informazioni aggiuntive, contattateci:</p>
        <p>Indirizzo: Via del Museo, 123 - Città</p>
        <p>Telefono: 0123456789</p>
        <p>Email: info@museo.it</p>
    </main>
</body>
</html>
